@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .table-cell {
    @apply border border-zinc-500 px-4 py-2;
  }

  .request-menu.active {
    @apply border-orange-500 border-b-2;
  }

  .saved-query {
    @apply p-4 hover:bg-zinc-700 border-b border-zinc-500 overflow-hidden w-full cursor-pointer;
  }
}
